script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js").
script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js").
script.
  var orderRooms = {};

  function initializeOrderRoom(orderId) {
    orderRooms[orderId] = io('/orders/' + orderId);

    var room = orderRooms[orderId];

    room.on('orderAdded', function (data) {
      console.log('orderRooms', orderId, data);
    });
  }
  var domain = 'http://46.101.157.129';
  var serverUrl = 'http://46.101.157.129:4001/';
  var socket = io(serverUrl);

  var driversRoom = io(serverUrl + 'drivers');

  driversRoom.on('connect', function (data) {
    console.log('client: connected to /drivers', data);
  })

  driversRoom.on('orderAdded', function(data) {
    console.log('driversRoom orderAdded', data);

    var orderId = data.orderId;
    $("#drivers").append($("<p>").text('order' + " : " + orderId));

    initializeOrderRoom(orderId);
  });

  function postOrder() {
    var orders = [
      {
        "asSoonAsPossible": true,
        "clientPhone": "89653502956",
        "destination": {
          "center": [
            55.75222,
            37.61556
          ]
        },
        "driverDetails": {},
        "location": {
          "center": [
            55.75222,
            37.61556
          ]
        }
      }
    ];

    var order = {
      "authKey": "qXtvs1029dasi0w",
      "orders": orders,
      "phone": "89653502956"
    };

    $.ajax({
      type: "POST",
      url: domain + '/orders',
      data: {
        authKey: 'qXtvs1029dasi0w',
        phone: '89653502956',
        orders: orders,
      },
      success: function (data) {
        console.log('POST orders', 'onSuccess', data);
      },
      dataType: "json"
    })
  }

html
  body
    table
      tr
        td(width="150")
          div driver channel
          #drivers
        td
          div orders channel
          #orders
      tr
        button(onclick='postOrder()') POST order