script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js").
script.
  var orderId = "#{orderId}"
  console.log('orderId', orderId);
  // var socket = io('http://46.101.157.129:4001/orders/' + orderId);
  var socket = io('http://localhost:4001/orders/' + orderId);
  //  var socket = io('http://localhost:4001');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });

  socket.on('orderAdded', function (data) {
    console.log('HOHO! orderAdded!', data);
    socket.emit('got orderAdded event', { my: 'orderAdded' });
  });

  socket.on('pick-order', function (data) {
    console.log('HOHO! pick-order!', data);
  });
  socket.on('driver-arrived', function (data) {
    console.log('HOHO! driver-arrived!', data);
  });
  socket.on('driver-chosen', function (data) {
    console.log('HOHO! driver-chosen!', data);
  });
  socket.on('client-picked', function (data) {
    console.log('HOHO! client-picked!', data);
  });
  socket.on('order-finished', function (data) {
    console.log('HOHO! order-finished!', data);
  });