script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js").
script.
  var socket = io('http://localhost:4001');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', {my: 'data'});
  });